#projects {
    font-family: 'Quicksand', sans-serif;
	height: 100%;
	padding: 5% 0;
}

.section-title {
	text-align: center;
	margin-bottom: 3rem;
	color: #006166;
}

.card-cont {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    margin-left: 15%;
}

.img-cont {
	background-color: rgba(77, 77, 77, 0.7);
	padding: 0;
	overflow: hidden;
	max-width: 500px;
    min-height: 285px;
	margin: 5px;
	position: relative;
}

.img-bar {
	position: absolute;
	background-color: #00c2cb;
	width: 100vw;
	height: 70px;
	bottom: 0;
	z-index: 1;
	opacity: 0;
	transform: translate(0px, 70px);
	-webkit-transform: translate(0px, 70px);
	-moz-transform: translate(0px, 70px);
	-o-transform: translate(0px, 70px);
	-ms-transform: translate(0px, 70px);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.img-bar a {
	font-size: 40px;
	color: #fff;
	position: relative;
	width: 100%;
	top: 13px;
	margin-left: 16%;
}

.img-cont article {
	white-space: pre-wrap;
	position: absolute;
	padding: 7%;
	bottom: 0;
	z-index: 1;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.img-cont h2 {
	text-align: left;
	color: #fff;
	font-weight: 800;
	font-size: 25px;
	border-bottom: #fff solid 1px;
}

.img-cont h4 {
	font-weight: 300;
	color: #fff;
	font-size: 16px;
}

.img-cont a {
	text-align: center;
    color: #fff;
}

.img-cont img {
	z-index: 0;
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0.4;
	-webkit-transition: all 4s ease;
	-moz-transition: all 4s ease;
	-o-transition: all 4s ease;
	-ms-transition: all 4s ease;
	transition: all 4s ease;
}

/* Card Hovers */
.img-cont a:hover {
	color: #00c2cb;
	text-decoration: none;
}

.img-cont:hover img {
	opacity: 0.1;
	transform: scale(1.5);
}

.img-cont:hover article {
	transform: translate(2px, -69px);
	-webkit-transform: translate(2px, -69px);
	-moz-transform: translate(2px, -69px);
	-o-transform: translate(2px, -69px);
	-ms-transform: translate(2px, -69px);
}

.img-cont:hover .img-bar {
	transform: translate(0px, 0px);
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	opacity: 1;
}

.img-bar a:hover {
    color: black;
}