#about {
    font-family: 'Quicksand', sans-serif;
    background-image: url("../../Images/grey-pattern.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.title {
    text-align: center;
}

#resumeBtn {
    width: 8rem;
    padding: 10px;
    color: #006166;
    background-color: transparent;
    border: 2px solid #006166;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
}

#resumeBtn:hover {
    background-color: #006166;
    color: white;
    outline: none;
}

.icon-container {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding-left: 10%;
    padding-right: 10%;
}

.icon-parent {
    text-align: center;
}

.icon-box {
    display: inline-block;
    height: 80px;
    width: 80px;
    line-height: 80px;
    background-color: #00c2cb;
    color: white;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 10px;
}

.myIcon {
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.icon-title {
    color: #006166;
    font-weight: 900;
    text-transform: uppercase;
}

/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.tt-cont {
    border: 5px solid black;
    height: 100px;
    padding-bottom: 7rem;
}