#about {
    font-family: 'Quicksand', sans-serif;
    background-image: url("../../Images/grey-pattern.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 5% 0;
}

.title {
    text-align: center;
    color: #006166;
    padding: 3rem;
}

#about-me {
    margin-left: 25%;
    margin-right: 25%;
}

#resumeBtn {
    width: 8rem;
    padding: 10px;
    color: #006166;
    background-color: transparent;
    border: 2px solid #006166;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
}

#resumeBtn:hover {
    background-color: #006166;
    color: white;
    outline: none;
}

.icon-container {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 26%;
    margin-right: 26%;
}

.icon-parent {
    text-align: center;
    padding: 2rem;
}

.icon-box {
    display: inline-block;
    height: 80px;
    width: 80px;
    line-height: 80px;
    background-color: #00c2cb;
    color: white;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 10px;
}

.myIcon {
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.icon-title {
    color: #006166;
    font-weight: 900;
    text-transform: uppercase;
}

/* Slider */
.tt-cont {
    padding-bottom: 7rem;
    margin-left: 20%;
    margin-right: 20%;
}