/* Footer Styling */
footer {
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: 550px;
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    position: relative;
}

#footer-logo {
    position: absolute;
    top: -35px;
    left: 47%;
}

/* Contact Section Styling */
#contact-section {
    padding-top: 90px;
    width: 600px;
    margin: auto;
}

#contact-form {
    width: 100%;
}

.heading-style {
    text-align: left;
    font-weight: 800;
}

.contact-text {
    color: white;
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-align: left;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.input-field {
    padding: 10px;
    width: 275px !important;
    border-radius: 5px;
    outline: none;
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

#u-msg {
    padding: 10px;
    width: 580px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

#submitBtn {
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

#submitBtn:hover {
    background-color: #00c2cb;
    color: #ffffff;
}

#thankYou {
    visibility: hidden;
}

.modal-title {
    color: #ffffff;
}

.modal-content {
    background-color: #00c2cb;
    color: #ffffff;
}

#stop-submit {
    color: red;
    margin-top: 1rem;
    margin-left: 1rem;
}

#footer-text {
    display: block;
    padding-top: 40px;
}